  :root {
    --gold: #FF9933;
    --grey: #aab3b8;
    --dark-blue: #0c1524;
    --white: white;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: var(--white);
    color: black;
    font-family: "Josefin Sans", sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
  }

  /* header */

  header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--dark-blue);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 25px;
    transition: padding 0.3s ease;
    gap: 80px;
  }

  header.scrolled {
    padding: 20px 25px;
    transition: padding 0.3s ease
  }

  header.scrolled .headerLogo {
    max-width: 60px;
  }

  header.scrolled .headerLogo img {
    width: 70px;
    transition: width 0.3s ease;
  }

  header nav {
    flex: 0 0 auto;
  }

  header nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    font-size: 15px;
  }

  header nav ul li a {
    text-decoration: none;
    color: var(--grey);
    transition: color 0.3s ease;
  }

  header nav ul li a:hover {
    color: white;
  }

  .headerLogo {
    margin-left: 70px;
    flex: 0 0 auto;
    max-width: 150px;
    overflow: hidden;
    transition: max-width 0.3s ease; 
  }

  .headerLogo img {
    width: 115px;
    height: auto;
    transition: width 0.3s ease;
  }

  .headerInput {
    width: 400px;
    background-color: transparent;
    border: 1px solid var(--grey);  
    border-radius: 8px;
    padding: 13px;
    outline: none;
    color: white;
    font-family: inherit;
    flex: none;
  }

  .headerInput::placeholder {
    color: var(--grey);
  }

  .headerSearchWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .headerLeft, .headerRight {
    flex: 1;
  }

  .headerCenter {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  /* brand selection */
  .brandSelection {
      display: flex;
      justify-content: left;
      gap: 90px;
      padding: 40px;
      background-color: white;
      position: relative;
      padding-bottom: 20px;
      padding-left: 120px;
  }

  .brandSelection::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 70px;
    width: 337px;
    height: 3.5px;
    background-color: black;
    z-index: 1;
  }

  .brandSelection::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 70px;
    right: 70px;
    height: 3.5px;
    background-color: var(--grey);
  }

  .brandCard {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      padding-bottom: 15px;
  }

  .brandCard img {
      width: 80px;
      height: auto;
      border-radius: 50%;
      object-fit: cover;
      transition: all 0.3s ease;
  }

  .brandCard img:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  }

  .brandCard h2 {
      font-size: 16px;
      letter-spacing: 1.5px;
  }

  /* Hero section */
  .heroSection {
    margin-top: 25px;
    background-image: url('../images/seikoWatchHeroL.jpg');
    background-size: cover;
    background-position: center;
    height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .heroSection .heroContent .heroBtn:hover {
    background-color: transparent;
    border: 1px solid white;  
    transition: all 0.3s ease;
  }

  .heroSection .heroContent h1 {
    position: absolute;
    top: 60px;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .heroSection .heroContent p {
    position: absolute;
    top: 120px;
    justify-content: center;
    align-items: center;
  }

  .heroSection .heroContent p,
  .heroSection .heroContent a {
    color: white;
  }

  .heroSection .heroContent .heroBtn {
    position: absolute;
    bottom: 45px;
    border: 1px solid var(--dark-blue);
    background-color: var(--dark-blue);
    color: white;
    padding: 20px;
    border-radius: 50px;
    text-decoration: none;
  }


  /* product highlights section */  

  .productHighlightsSection {
    margin: 30px 100px 40px 85px;
    background-color: white;
    padding: 15px;
  }

  .productHighlightsSection ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
  }

  .productHighlightsSection h2 {  
    font-size: 30px;
    padding-bottom: 15px;
  }

  .productHighlightsSection ul .filterButton {
    color: gray;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding-bottom: 15px;
  }

  .productHighlightsSection ul .filterButton.active {
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
  }

 .productHighlightsSection .productGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-top: 10px;
  }

  .casioCatalog .productGrid, .seikoCatalog .productGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 80px 50px;
    row-gap: 40px;
  }
  
 .productCard img {
    width: 100%;
    border-radius: 10px;
    background-color: #f5f5f5;
    transition: all 0.5s ease;
  }

 .productCard img:hover {
    transform: scale(1.03);
    transition: all 0.5s ease;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  }
  
 .productCard h4 {
    justify-content: left;
    align-items: left;
    word-spacing: 2px;
    padding: 10px 9.6px 0px 0px
  }
 .productCard p {
    padding-top: 10px;
  }

  /* footer Section */

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    align-items: flex-start;
    background-color: var(--dark-blue);
  }

  .footerTop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 292px;
    padding: 15px 40px 0px 40px;
  }

  .footerTop .footerCenter .footerAboutDescription {
    padding-top: 16px;
  }

  .footerTop .footerRight {
    display: flex;
    flex-direction: column;
  }

  .footerTop .footerRight .footerSocialLinks {
    white-space: nowrap;
    padding-bottom: 10px;
  }


  .footerBottom {
    text-align: left;
    padding: 12px 858px 2px 50px;
    border-top: 1px solid rgba(227, 227, 227, 0.1);
  }

  .footerBottom .footerCopyright {
    font-size: 13px;
  }

  .footer .footerLeft img {
    width: 50px;
    height: auto;
  }

  .footer h3, .footer p {
    color: white;
  }

  .footerLeft, .footerRight {
    flex: 1;
    display: flex;
  }

  .footerCenter {
    align-content: center;
  }

  .footerRight .footerSocialLinksLists img {
    width: 30px;
    height: auto;
    border-radius: 10px;
  }

  /* catalog-breadcrumb */
  .breadcrumb {
    background-color: rgba(227, 227, 227, 0.8);
    border-radius: 10px;
    margin: 30px 40px 0px 40px;
  }

  .breadcrumb ol {
    display: flex;
    align-items: center;
    gap: 8px;
    list-style: none;
    padding: 10px 20px;
    margin-top: 40px;
  }

  .breadcrumb ol a {
    text-decoration: none;
    color: black;
  }

  .breadcrumb ol .catalogBreadCrumbCollections {
    color: rgba(0, 0, 0, 0.5)
  }

  .breadcrumb ol li {
    list-style: none;
  }

  /* catalog-main */
  .catalogMainContent {
    margin: 30px 42px 32px 42px;
  }

  .catalogMainContent .catalogHeading {
    padding-bottom: 30px;
  }

  .catalogCollections {
    display: flex;
    gap: 30px;
    list-style: none;
    max-width: 800px;
  }

  .collectionCard {
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      flex: 1;
      cursor: pointer;
  }

  .collectionCard img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      transition: transform 0.5s ease;
  }

  .collectionCard:hover img {
      transform: scale(1.05);
  }

  .collectionCardOverlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 20px;
      background: linear-gradient(transparent, rgba(0,0,0,0.7));
      color: white;
  }

  /* casio-Section */
  .pageHeading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 40px;
  }

  /* casio-breadcrumb */
  .breadCrumbHead {
    background-color: rgba(227, 227, 227, 0.8);
    border-radius: 10px;
    margin: 30px 48px 0px 48px;
  }

  .breadcrumbCasio ol {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    list-style: none;
    padding: 40px 20px;
    margin-top: 40px;
  }

  .breadcrumbCasio ol a {
    text-decoration: none;
    color: black;
  }

  .breadcrumbCasio ol li {
    list-style: none;
  }

  .breadCrumbHead ol .casioBreadCrumbCollections {
    color: rgba(0, 0, 0, 0.5)
  }

  /* casio-Main */
  .casioCatalog .productGrid .productCard a {
    text-decoration: none;
    color: black;
  }

   /* seiko-breadcrumb */
  .breadCrumbHead {
    background-color: rgba(227, 227, 227, 0.8);
    border-radius: 10px;
    margin: 30px 48px 0px 48px;
  }

  .breadcrumbSeiko ol {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    list-style: none;
    padding: 40px 20px;
    margin-top: 40px;
  }

  .breadcrumbSeiko ol a {
    text-decoration: none;
    color: black;
  }

  .breadcrumbSeiko ol li {
    list-style: none;
  }

  .breadCrumbHead ol .seikoBreadCrumbCollections {
    color: rgba(0, 0, 0, 0.5)
  }

  /* seiko-Main */
  .seikoCatalog .productGrid .productCard a {
    text-decoration: none;
    color: black;
  }

  /* contact-main */

  .breadcrumb ol .contactBreadCrumbContact {
    color: rgba(0, 0, 0, 0.5)
  }

  .contactMain {
    display: flex;
    gap: 50px;
    padding: 50px 0px 50px 40px;
  }

  .contactMain h1, .contactMain p {
    padding-bottom: 7px;
  }

  .contactMain > div:first-child {
    padding: 10px;
  }

  .fname input, .email input, .contactNumberInput input,  .textArea .contactTextArea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(45, 45, 45, 0.5);
    margin: 10px 10px 10px 0px;
    border-radius: 10px;
    border-width: 1px;
    font-family: inherit;
  }

  .contactSubmitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contactSubmitBtn input{
    justify-content: center;
    align-items: center;
    outline: none;
    border-radius: 30px;
    background-color: var(--dark-blue);
    color: white;
    font-family: inherit;
    padding: 15px;
    transition: all 0.5s ease;
    border: 1px solid var(--dark-blue);
  }

  .contactSubmitBtn input:hover{
    color: var(--dark-blue);
    background-color: transparent;
    border: 1px solid var(--dark-blue);
    transition: all 0.5s ease;
  }

  .contactMain .contactRight {
    flex: 1;
    background-color: rgba(227, 227, 227, 0.3);
    padding: 13px 30px 0px 30px;
    margin-top: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .contactMain .contactRight .contactSocialMedia,
  .contactMain .contactRight .contactNumber, 
  .contactMain .contactRight .contactEmail {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }

  .contactMain .contactRight .contactSocialMedia .socials {
    padding: 10px 1px;
    gap: 10px;
    display: flex;
  }

  .contactMain .contactRight .contactSocialMedia .IGContact img{
    width: 70px;
    height: auto;
    border-radius: 10px;
  }

  .contactMain .contactRight .contactSocialMedia .TKContact img{
    width: 74px;
    height: 71px;
    border-radius: 10px;
  }

  .contactMain .contactRight .contactSocialMedia .socials .TKContact p,
  .contactMain .contactRight .contactSocialMedia .socials .IGContact p {
    padding-top: 4px;
    text-align: center;
  }

  .contactMain .contactRight .contactSocialMedia .socials .TKContact a,
  .contactMain .contactRight .contactSocialMedia .socials .IGContact a {
    text-decoration: none;
    color: black;

  }

  .contactMain .contactNumber .contactNumHeading{
    padding-bottom: 10px;
  }

  .contactMain .contactEmail .contactEmailHeading{
    padding-bottom: 10px;
  }

  /* about us page */
  .aboutUsMain {
    padding: 100px 0px 50px 0px;
    margin: 0 auto;
  }

  .aboutUsHeading {
    text-align: center;
    padding-bottom: 20px;
  }

  .aboutUsP1, .aboutUsP2, .aboutUsP3 {
    text-align: center;
    justify-content: center;
    padding: 15px 200px 15px 200px;
    line-height: 1.3;
  }

  .aboutUsBanner {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    margin: 20px 0;
  }

  .banner1 {
    background-image: url('../images/watchBanner1.jpg');
  }

  .banner2 {
    background-image: url('../images/watchBanner2.jpg');
  }

  .banner3 {
    background-image: url('../images/watchBanner3.jpg');
  }