  :root {
    --gold: #FF9933;
    --grey: #aab3b8;
    --dark-blue: #0c1524;
    --white: white;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: var(--white);
    color: black;
    font-family: "Josefin Sans", sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
  }

  /* header */

  header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--dark-blue);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 25px;
    transition: padding 0.3s ease;
    gap: 80px;
  }

  header.scrolled {
    padding: 20px 25px;
    transition: padding 0.3s ease
  }

  header.scrolled .headerLogo {
    max-width: 60px;
  }

  header.scrolled .headerLogo img {
    width: 70px;
    transition: width 0.3s ease;
  }

  header nav {
    flex: 0 0 auto;
  }

  header nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    font-size: 15px;
  }

  header nav ul li a {
    text-decoration: none;
    color: var(--grey);
    transition: color 0.3s ease;
  }

  header nav ul li a:hover {
    color: white;
  }

  .headerLogo {
    margin-left: 70px;
    flex: 0 0 auto;
    max-width: 150px;
    overflow: hidden;
    transition: max-width 0.3s ease; 
  }

  .headerLogo img {
    width: 115px;
    height: auto;
    transition: width 0.3s ease;
  }

  .headerInput {
    width: 400px;
    background-color: transparent;
    border: 1px solid var(--grey);  
    border-radius: 8px;
    padding: 13px;
    outline: none;
    color: white;
    font-family: inherit;
    flex: none;
  }

  .headerInput::placeholder {
    color: var(--grey);
  }

  .headerSearchWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .headerLeft, .headerRight {
    flex: 1;
  }

  .headerCenter {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  /* brand selection */
  .brandSelection {
      display: flex;
      justify-content: left;
      gap: 90px;
      padding: 40px;
      background-color: white;
      position: relative;
      padding-bottom: 20px;
      padding-left: 120px;
  }

  .brandSelection::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 70px;
    width: 337px;
    height: 3.5px;
    background-color: black;
    z-index: 1;
  }

  .brandSelection::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 70px;
    right: 70px;
    height: 3.5px;
    background-color: var(--grey);
  }

  .brandCard {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      padding-bottom: 15px;
  }

  .brandCard img {
      width: 80px;
      height: auto;
      border-radius: 50%;
      object-fit: cover;
      transition: all 0.3s ease;
  }

  .brandCard img:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  }

  .brandCard h2 {
      font-size: 16px;
      letter-spacing: 1.5px;
  }

  /* Hero section */
  .heroSection {
    margin-top: 25px;
    background-image: url('../images/seikoWatchHeroL.jpg');
    background-size: cover;
    background-position: center;
    height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .heroSection .heroContent .heroBtn:hover {
    background-color: transparent;
    border: 1px solid white;  
    transition: all 0.3s ease;
  }

  .heroSection .heroContent h1 {
    position: absolute;
    top: 60px;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .heroSection .heroContent p {
    position: absolute;
    top: 120px;
    justify-content: center;
    align-items: center;
  }

  .heroSection .heroContent p,
  .heroSection .heroContent a {
    color: white;
  }

  .heroSection .heroContent .heroBtn {
    position: absolute;
    bottom: 45px;
    border: 1px solid var(--dark-blue);
    background-color: var(--dark-blue);
    color: white;
    padding: 20px;
    border-radius: 50px;
    text-decoration: none;
  }


  /* product highlights section */  

  .productHighlightsSection {
    margin: 30px 100px 40px 85px;
    background-color: white;
    padding: 15px;
  }

  .productHighlightsSection ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
  }

  .productHighlightsSection h2 {  
    font-size: 30px;
    padding-bottom: 15px;
  }

  .productHighlightsSection ul .filterButton {
    color: gray;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding-bottom: 15px;
  }

  .productHighlightsSection ul .filterButton.active {
    color: black;
    font-weight: bold;
    transition: color 2s ease;
  }

  .productHighlightsSection .productGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .productHighlightsSection .productCard img {
    width: 255px;
    border-radius: 10px;
  }
  
  .productHighlightsSection .productCard h4 {
    justify-content: left;
    align-items: left;
    word-spacing: 2px;
    padding: 10px 9.6px 0px 0px
  }

  .productHighlightsSection .productCard p {
    padding-top: 10px;
  }